<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Cabines</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Etat</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Numéro</th>
                            <th>Etat</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>101</td>
                            <td>Occupée</td>
                            <td><input type="checkbox" class="input-controls"></td>
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>Occupée</td>
                            <td><input type="checkbox" class="input-controls"></td>
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>Occupée</td>
                            <td><input type="checkbox" class="input-controls"></td>
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>Occupée</td>
                            <td><input type="checkbox" class="input-controls"></td>
                        </tr>
                        <tr>
                            <td>101</td>
                            <td>Occupée</td>
                            <td><input type="checkbox" class="input-controls"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>